<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Contact Me</ion-card-subtitle>
      <ion-card-title>How to reach me</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea pariatur, tenetur quis, at aspernatur nesciunt delectus asperiores eligendi exercitationem, quo obcaecati commodi molestiae consectetur assumenda. Perferendis pariatur saepe quos doloribus.
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
